html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #4d4d4d;
	font-family: Arial, Helvetica, sans-serif;
}
em {
	padding: 0;
}
figure {
	width: 100%;
	margin: 0;
	padding: 0;
}
figure img {
	width: 100%;
	max-width: 1000px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.nav-skip {
	position: absolute;
	top:-9999px;
	left: -9999px;
}
.container {
	min-height: 100%;
	position: relative;
}
.right { text-align: right; }
.resume .experience {
	padding-left: 3em;
}
*.main {
	padding: 0;
}
header.main {
	background-color: #4d4d4d;
	padding-bottom: 10px;
}
header.main figure {
	width: 100%;
	max-width: 600px;
}
header.main figure img { margin-bottom: -18%; }
aside.main {
	/* background-color: #fed702; */
	background-color: #fff;
	/* border-bottom: 3px solid #dda501; */
	border-top: 3px solid #62cbe0;
	border-bottom: 3px solid #62cbe0;
}
h1#logo {
	position: absolute;
	top: -99999px;
	left: -99999px;
}
aside.main { padding: 0; margin: 0; }
aside.main nav { padding: 0; margin: 0; }
aside.main a {
	display: block;
	text-decoration: none;
	color: #4f4f4f;
	padding: 12px 12px;
}
aside.main a:hover, aside.main a.active { color: #000; }
aside.main ul {
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	line-height: 1;
	list-style: none;
	position: relative;
}
aside.main ul li {
	display: block;
	padding: 0;
	margin: 0;
	text-align: right;
}
aside.main ul ul { font-size: 1em; }
footer {
	position: absolute;
	line-height: 1;
	font-size: 0.85em;
	height: 4em;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	border-top: 3px solid #62cbe0;
}
section {
	padding: 0 5px 7em 5px;
	max-width: 1000px;
}
article {
	line-height: 1.4;
	color: #fff;
}
article a, article span.highlight {
	text-decoration: none;
	color: #62cbe0;
}
article a:hover, article a:active {
	border-bottom: 1px dotted #62cbe0;
}
ul.table-of-contents {
	list-style: none;
	margin: 1em 0;
	padding: 1em 0;
	border-top: 1px dotted #62cbe0;
	border-bottom: 1px dotted #62cbe0;
}
ul.table-of-contents ul {
	list-style: disc;
}
h1,h2,h3,h4,h5,h6 {
	color: #fed702;
	font-weight: bold;
	line-height: 1;
}
h3 { 
	font-size: 1.8em; 
	text-decoration: underline;
	margin: 0; 
}
h4 { 
	font-size: 1.5em; 
	margin: 0; 
}
h5 { 
	font-size: 1.3em;
	margin: 0; 
}
h6 { 
	font-size: 1em;
	margin: 0;
}
article h1, article h2 {
	font-size: 3em;
	line-height: 1;
	font-weight: bold;
	color: #fed702;
	text-shadow: 1px 1px #62cbe0;
	font-variant: small-caps;
	margin: 15px 0;
}
article nav a {
	font-size: 1.1em;
	padding: 0.3em 0.7em;
}
article nav a:hover, article nav a:active {
	border: 0;
}
.blog-item {
	padding: 0.5em 0;
	border-bottom: 1px dotted #fff;
}
.blog-item header {
	font-size: 1.2em;
	padding-bottom: 0.3em;
	display: block;
}
.blog-item time {
	display: block;
	font-size: 80%;
}
.blog-item .score {
	display: block;
	font-size: 80%;
}
.blog-roll-details {
	padding-left: 1em;
}
footer a {
	text-decoration: none;
	color: #333;
}
footer a:hover, footer a:active {
	border-bottom: 1px dotted #333;
}
footer figure {
	width: 30px;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
div.login {
	display: none;
}
div.copy {
	display: block;
	padding: 15px;
}
pre code {
	overflow: auto;
}
.text-input, textarea { width: 200px; }
img.captcha {
	border: 2px solid #000;
}
span.error {
	display: block;
	margin:0;
	padding: 0;
	color: red;
}
.search-results {
	margin: 0 0 2em 0;
}
#content-search {
	color: #fff;
	position: absolute;
	right: 5px;
	bottom: 4em;
}
div.contact { 
	border-top: 1px dotted #62cbe0;
	text-align: center;
}
.searchbox { width: 6em; }
@media only screen and (min-width: 400px) {
	header.main figure { width: 70%; }
	section { padding: 0 10px 6em 10px; }
	.text-input, textarea  { width: 250px; }
	.searchbox { width: 9em; }
}
@media only screen and (min-width: 640px) {
	#content-search {
		bottom: inherit;
		top: 20px;
		right: 20px;
	}
	.searchbox { width: 13em; }
	.score { float: right; }
	header.main figure { width: 50%; }
	aside.main { 
		margin-bottom: 5%; 
		background: linear-gradient(top, #62cbe0 0%, #fff 15%, #fff 85%, #62cbe0 100%);
		background: -moz-linear-gradient(top, #62cbe0 0%, #fff 15%, #fff 85%, #62cbe0 100%);
		background: -webkit-linear-gradient(top, #62cbe0 0%, #fff 15%, #fff 85%, #62cbe0 100%);
	}
	aside.main nav { 
		padding: 0 0 0 20%; 
		position: relative;
		z-index: 10;
	}
	aside.main ul {
		display: block;
		padding: 0;
		margin: 0;
	}
	aside.main ul:after { content: ""; clear: both; display: block; }
	aside.main a {
		padding: 5px 15px;
		color: #000;
	}
	aside.main ul {}
	aside.main ul li {
		float: left;
		padding: 0;
		margin: 0;
		background: none;
	}
	aside.main ul li:hover, aside.main ul li.active { 
		background: #62cbe0;
		background: linear-gradient(top, #62cbe0 0%, #4fa2b3 50%, #62cbe0 100%);
		background: -webkit-linear-gradient(top, #62cbe0 0%, #4fa2b3 50%, #62cbe0 100%);
		background: -moz-linear-gradient(top, #62cbe0 0%, #4fa2b3 50%, #62cbe0 100%);
	}
	aside.main ul ul { display: none; }
	aside.main ul ul li {
		float: none;
		background: #4fa2b3;
		border-top: 1px solid #62cbe0;
	}
	aside.main ul ul li:hover, aside.main ul ul li.active {
		background: #62cbe0;
	}
	aside.main ul ul a { padding: 8px 25px; }
	aside.main li:hover ul {
		position: absolute;
		display: block;
		border-top: 2px solid #62cbe0;
	}
	div.login, div.copy {
		display: block;
		width: 40%;
		padding: 5px 9px;
	}
	div.login { float: left; }
	div.copy { float: right; text-align: right;}
	footer { height: 3em; }
	article nav { float: right; }
	article header { clear: both; }
	.text-input, textarea  { width: 300px; }
}
@media only screen and (min-width: 900px) {
	header.main figure { width: 50%; }
	section { padding: 0 20px 6em 20px; }
	aside.main nav { padding: 0 0 0 15%; }
	.text-input, textarea  { width: 400px; }
}
