<section>
	<h1>Deploying a Golang Website using Revel and Heroku</h1>
</section>
<section>
	<section>
		<h2>Why?</h2>
		
		<ul>
			<li>Why use Heroku?</li>
			<li>Why use Go?</li>
			<li>Why use Revel</li>
			<li>What are my alternatives?</li>
		</ul>
	</section>
	<section>
		<h3>Why Use Heroku?</h3>
		
		<ul>
			<li>It is <en>FREE</em>.
			<li>It is easy to manage.</li>
			<li>There is no requirement that you use platform specific APIs (see Google Application Engine).</li>
		</ul>
	</section>
	<section>
		<h3>Some Caveats</h3>
		
		<ul>
			<li>Heroku's database support is very limited, until you start paying a lot of money.</li>
			<li>If your server isn't hit frequently, the server will spin down. (However Go's spinup times are sub 1 second).</li>
		</ul>
	</section>
	<section>
		<h3>Why Use Go?</h3>
		
		<ul>
			<li>It compiles to native code, and is highly performant.</li>
			<li>The compiler is screaming fast.</li>
			<li>Frankly, it's just a fun, really easy to use language.</li>
			<li><a href="/blog/golang-viable-project-dev">See my blog post on the issue for more info</a>.</li>
		</ul>
	</section>
	<section>
		<h3>Why Use Revel?</h3>
		<ul>
			<li>Golang rapid web development framework.</li>
			<li>Very similar to <a href="http://rubyonrails.org" target="_blank">Rails</a> 
			or <a href="https://grails.org" target="_blank">Grails</a>.</li>
			<li>Allows for more complex routing than the standard http server for Go.</li>
		</ul>
	</section>
	<section>
		<h3>What Revel Doesn't Have</h3>
		
		<p class="left">Revel does <em>not</em> have an ORM. While there are plenty of ORMs 
		for Go that you could plugin, Heroku's database support is such
		that it may make more sense to simply avoid using a database.</p>
	</section>
	<section>
		<h3>What Are the Alternatives?</h3>
		
		<ul>
			<li>You could pay to host your own server and use any technology you like.</li>
			<li>You could deploy a website on <a href="http://wix.com" target="_blank">Wix.com</a>, but where's the fun in that.</li>
			<li>You could use a Java host like <a href="http://cloudbees.com" target="_blank">Cloudbees</a>, but that also 
			spins down your server, and Tomcat + JVM spinup times are much much longer.</li>
			<li>You could use a WordPress host, but you have fewer options and less control.</li>
		</ul>
	</section>
</section>
<section>
	<h1>What You Need</h1>

	<ul>
		<li>You will need to install <a href="http://golang.org" target="_blank">Go</a>.</li>
		<li>You will need a <a href="http://heroku.com" target="_blank">Heroku</a> account, and have the Heroku command line utility.</li>
		<li>You will also need the <a href="http://git-scm.com" target="_blank">Git</a> and 
		<a href="http://mercurial.selenic.com" target="_blank">Mercurial</a> command-line utilities.</li>
	</ul>
</section>
<section>
	<section>
		<h1>Configuring Go</h1>
		<p class="left">
			How Go is installed dependes upon on your platform. 
			The instructions can be found here: <a href="https://golang.org/doc/install" target="_blank">https://golang.org/doc/install</a>.
		</p>
		<p class="left">
			Once Go is installed, there is some additional configuration that is required. The Go compiler and 
			tools revolve around an environment variable <code>GOPATH</code>. 
		</p>
	</section>
	<section>
		<h2>Setup Environment</h2>
		<ol>
			<li>Create a workspace directory, and set <code>GOPATH</code>.
			<pre><code class="brush: bash">mkdir -p ~/GO/workspace
echo 'export GOPATH="~/GO/workspace"' >> ~/.bash_profile
echo 'export PATH="$PATH:$GOPATH/bin"' >> ~/.bash_profile
source ~/.bash_profile</code></pre>
			</li>
			<li>Create Go workspace file structure.
			<pre><code class="brush: bash">mkdir ~/GO/workspace/bin # contains compiled executables
mkdir ~/GO/workspace/pkg # contains package objects
mkdir ~/GO/workspace/src # contains source code</code></pre>
			</li>
		</ol>
	</section>
	<section>
		<h2>Understanding the Source Directory</h1>
		
		<p class="left">Project source code is stored in its package directories. These directories are defined
		by the repostories. If you have a project located in GitHub,
		your directory structure will likely look something like this:</p>
		<pre><code class="brush: bash">./src/
    github.com/
        username/
            project_name/
                projectfile.go</code></pre>
	</section>
</section>
<section>
	<section>
		<h1>Installing Revel</h1>
		
		<p class="left">
			Once Go is installed and the environment directories are configured, installing revel is simple.
		</p>
	</section>
	<section>
		<h2>Install the Revel Framework</h2>
		
		<ol>
			<li>Install the framework:
			<pre><code class="brush: bash">go get github.com/revel/revel</code></pre>
			<p class="left">This can be called from any directory, Go will 
			manage the packages and directory structure.</p></li>
			<li>Install the command-line tools:
			<pre><code class="brush: bash">go get github.com/revel/cmd/revel</code></pre>
			</li>
		</ol>
	</section>
</section>
<section>
	<section>
		<h1>Create Your Webapp</h1>
	
		<pre><code class="brush: bash">revel new github.com/username/webapp
revel run github.com/username/webapp dev 9000 # mode port
</code></pre>
		<p class="left">Go to <a href="http://localhost:9000/" target="_blank">http://localhost:9000/</a> 
		and you should see something like "It Works!".</p>
	</section>
	<section>
		<h2>Where are My Files?</h2>
		
		<p class="left">The webapp will be created in the GOPATH source directory at:</p>
		<pre><code class="brush: bash">$GOPATH/src/github.com/username/webapp/.</code></pre>
	</section>
	<section>
		<h2>Webapp Structure</h2>
		
		<p class="left">
		There are a few types of files that make up a Revel webapp.
		</p>
		
		<ul>
			<li><strong>Routes</strong>: managed in the file <code>./conf/routes</code>.
			<li><strong>Controllers</strong>: managed in <code>./app/controllers/</code>.
			<li><strong>Views</strong>: managed in <code>./app/views/</code>.
		</ul>
	</section>
	<section>
		<h2>Routes</h2>
		
		<p class="left">
			Routes work as expected. A route can have one of two modes <code>GET</code> and <code>POST</code>.
			The following is an example route.
		</p>
		<pre><code class="brush: go">//MODE    PATH       CONTROLLER.FUNCTION
GET       /          App.Index
GET       /contact   Contact.Index
POST      /contact   Contact.Send</code></pre>
		<p class="left">When the user goes to the root of the webapp, the App controller's Index() method
		is called.</p>
	</section>
	<section>
		<h2>Controllers</h2>
		
		<p class="left">
		Controller methods must return instances of type <code>revel.Result</code>. 
		</p>
		
		<pre><code class="brush: go">type App struct {
    *revel.Controller
}
func (c App) Index() revel.Result {
    title := "My Page Title"
    message := "Hello, World!"
    return c.Render(title, message)
}</code></pre>
	</section>
	<section>
		<h2>Controllers (Cont...)</h2>
		<p class="left">Variables are passed to views through named variables in the controller. These
		variables are used in the view via reflection.</p>
		<pre><code class="brush: go">func (c App) Index() revel.Result {
    // a variable called 'tab' will be available in the view
    title := "My Page Title"
    // a variable called 'message' will be available in the view
    message := "Hello, World!"
	
    // order of parameters does not matter
    return c.Render(title, message)
	
    // this is not allowed because the variable has no name
    // return c.Render("put text directly in render function")
}</code></pre>
	</section>
	<section>
		<h2>Controllers (Cont...)</h2>
		<p class="left">It is also possible to render content without a view by implementing the <code>revel.Result</code>
		interface.</p>
		<pre><code class="brush: go">type Robot string
// outputs the follow:
/*
User-Agent: *
Allow: /
*/
func (r Robot) Apply(req *revel.Request, resp *revel.Response) {
    resp.Out.Header().Set("Content-Type", "text/plain")
    resp.Out.Write([]byte("User-Agent: *\n"))
    resp.Out.Write([]byte("Allow: "))
    resp.Out.Write([]byte(r))
    resp.Out.Write([]byte("\n"))
}
func (c App) Robot() revel.Result {
    return Robot("/")
}</code></pre>
	</section>
	<section>
		<h2>Views</h2>
		
		<p class="left">Views are found in a directory named for the controller. They are <code>HTML</code>
		fragments with templating, and are named after the method that invokes them.</p>
		
		<p class="left">Given the method <code>App.Index()</code>, there should be view located at:</p>
		<pre><code class="brush: bash">./app/views/App/Index.html</code></pre>
	</section>
	<section>
		<h2>Views (Cont...)</h2>
		<p class="left">Here is a simple view:</p>
		<pre><code class="brush: html">&lt;!-- Two Variables Defined in App.Index():
title
message
--&gt;
{{set . "title" .title}} &lt;!-- from App.Index() --&gt;
{{template "header.html" .}}

{{if .message}}
  &lt;p&gt{{.message}}&lt;/p&gt &lt;!-- from App.Index() --&gt;
{{else}}
  &lt;p&gtDefault Message&lt;/p&gt
{{end}}

{{template "footer.html" .}}</code></pre>
	</section>
	<section>
		<h2>Views (Cont...)</h2>
		
		<p class="left">Complex objects can also be passed into views.</p>
		
		<pre><code class="brush: html">{{set . "title" .pageObj.Title}}
{{template "header.html" .}}

&lt;ol&gt
  &lt;!-- Item has properties "Link" and "Name" --&gt
  {{range .pageObj.Items}}
    &lt;li&gt&lt;a href="{{.Link}}">{{.Name}}&lt;/a&gt&lt;/li&gt &lt;!-- implicit "this" --&gt
  {{end}}
&lt;/ol&gt

{{template "footer.html" .}}</code></pre>
	</section>
	<section>
		<h2>Public Directory</h2>
		<p class="left">Static files get deployed to the <code>./public/</code> directory. 
		In this directory there are three sub-directories:</p>
		<ul>
			<li>css</li>
			<li>js</li>
			<li>img</li>
		</ul>
	</section>
</section>
<section>
	<section>
		<h1>Contact Form</h1>
		<p style="font-weight: bold">A Simple Example</p>
	</section>
	<section>
		<h2>Creating a Controller</h2>
		<ol>
			<li>Create a <code>contact.go</code> file in the <code>app/controllers</code> directory.</li>
			<li>Define <code>Contact</code> controller.
			<pre><code class="brush: go">package controllers
			
import (
	"fmt"
	"github.com/revel/revel"
	"os"
)

type Contact struct {
	*revel.Controller
}</code></pre>
			</li>
		</ol>
	</section>
	<section>
		<ol start="3">
			<li>Add method to return the index page for the <code>Contact</code> controller.
			<pre><code class="brush: go">...
func (c Contact) Index() revel.Result {
	return c.Render()
}</code></pre></li>
		</ol>
	</section>
	<section>
		<h2>Create Contact Form</h2>
		<ol start="4">
			<li>Create directory <code>Contact</code> in the <code>app/views</code> directory.</li>
			<li>Add an <code>Index.html</code> file to this directory.
			<pre><code class="brush: html">{{set . "title" "Contact Form"}}
{{template "header.html" .}}
&lt;form method="POST" autocomplete="off"&gt;
  &lt;p&gt;
    &lt;label for="name"&gt;Name:<&lt;/label&gt;&lt;br/&gt;
    &lt;input type="text" id="name" name="name"/&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;label for="email"&gt;Email:<&lt;/label&gt;&lt;br/&gt;
    &lt;input type="text" id="email" name="email"/&gt;
  &lt;/p&gt;
  &lt;p&gt;
    &lt;label for="message"&gt;Message:<&lt;/label&gt;&lt;br/&gt;
    &lt;textarea id="message" name="message"&gt;&lt;/textarea&gt;
  &lt;/p&gt;
  &lt;input type="submit" value="Submit"/&gt;
&lt;/form&gt;
{{template "footer.html" .}}</code></pre></li>
		</ol>
	</section>
	<section>
		<h2>Add Post Action to Controller</h2>
		<ol start="5">
			<li>Add the <code>Send</code> method to the <code>contact.go</code> controller. &nbsp;&nbsp;
			<pre><code class="brush: go">...
// "name", "email", "message" are the names of the request params
func (c Contact) Send(name, email, message string) revel.Result {
	// validate form - "email not required"
	c.Validation.Required(name).Message("Required field")
	c.Validation.Required(message).Message("Required field")
	if c.Validation.HasErrors() {
		c.Validation.Keep()
		c.FlashParams()
		return c.Redirect(Contact.Index)
	} else {
		// run in background thread
		go c.sendMail(name, email, message)
		return c.Render()
	}
}</code></pre>
		</ol>
	</section>
	<section>
		<ol start="6">
			<li>Create the <code>sendMail(...)</code> function as a private function. This will keep it from 
			being invoked outside the scope of this controller.
			<pre><code class="brush: go">...
// lowercase name = private
func (c Contact) sendMail(name, email, message string) error {
	emailUsername := os.Getenv("EMAIL_USERNAME")
	emailPassword := os.Getenv("EMAIL_PASSWORD")
	emailTo := os.Getenv("EMAIL_DESTINATION")
	emailServer, _ := revel.Config.String("email.server")
	emailPort, _ := revel.Config.Int("email.port")
	
	// invoke later
	fmt.Sprintf("Email Username: \t%s\n", emailUsername)
	fmt.Sprintf("Email To: \t%s\n", emailTo)
	fmt.Sprintf("Email Server: \t%s:%s\n", emailServer, emailPort)
}</code></pre></li>
		<ol>
	</section>
	<section>
		<ol start="7">
			<li>Create the <code>Send.html</code> page in the directory 
			<code>app/views/Contact</code>, as a response page.
			<pre><code class="brush: html">{{set . "title" "Contact Form"}}
{{template "header.html" .}}

&lt;p&gt;Your message has been sent.&lt;br/&gt;
Thank you for your interest.&lt;/p&gt;

{{template "footer.html" .}}</code></pre></li>
		</ol>
	</section>
	<section>
		<h2>Add Routes</h2>
		<ol start="8">
			<li>Add routes to your contact form and response page to the 
			<code>conf/routes</code> file.
			<pre><code class="brush: go">...
GET     /contact                Contact.Index
POST    /contact                Contact.Send
...</code></pre></li>
			<li>Navigate to <code>http://localhost:9000/contact</code> to test 
			your contact page. If you are still running Revel in the default "Dev" 
			mode, this will not require a restart.</code>
		</ol>
	</section>
</section>
<section>
	<section>
		<h1>Deploying to Heroku</h1>
	</section>
	<section>
		<h2>Setting Up Git Repository</h2>
		<pre><code class="brush: bash">git init
git add .
git commit -m "First Commit - YAY!!"</code></pre>
	</section>
	<section>
		<h2>Deploy to Heroku</h2>
		<pre><code class="brush: bash">heroku login
# enter your username/password
heroku create -b https://github.com/revel/heroku-buildpack-go-revel.git
# adds the "heroku" origin to your git repository
# and sets up the Revel buildpack
git push heroku master</code></pre>
	</section>
	<section>
		<h2>Deploy to Heroku (Cont...)</h2>
		<p class="left">You should see something like:</p>
		<pre><code class="brush: bash">-----> Fetching custom git buildpack... done
-----> Revel app detected
-----> Installing Go 1.1... done
       Installing Virtualenv... done
       Installing Mercurial... done
       Installing Bazaar... done
-----> Running: go get -tags heroku ./...
-----> Discovering process types
       Procfile declares types -> (none)
       Default types for Revel -> web

-----> Compiled slug size: 33.3MB
-----> Launching... done, v5
       http://pure-sunrise-3607.herokuapp.com deployed to Heroku</code></pre>
	</section>
	<section>
		<h2>Test Your Webapp</h2>
		<p class="left">Just navigate to the URL provided by Heroku. In the example above, 
		that would be <code>http://pure-sunrise-3607.herokuapp.com</code>.
	</section>
	<section>
		<h2>Making Changes</h2>
		<p class="left">Any time you push to the master branch on heroku, your
		application will be automatically rebuilt, and redeployed.</p>
	</section>
</section>
<section>
	<h1>C'est Tout</h1>
</section>
<section>
	<h1>Contact Me</h1>
	<p>Feel free to <a href="/contact">contact me</a> with any questions or comments.</p>
</section>