{{set . "title" "Z Carioca"}}
{{template "header.html" .}}

<article>
	<header>
		<h2>Z Carioca</h2>
	</header>
	<p>My name is <em>Rafael Pacheco Chargel</em>, and have been working as a software developer since 2001, 
	after a brief flirtation with graphic design in the 1990's.</p>
	<p>Although I am originally from the city of Rio de Janeiro, I started my career in Washington DC, 
	then a brief stint in Mexico City, but have settled down in Philadelphia for the past 7 years. My 
	projects include student information systems, secure cross-network medical information exchanges, 
	an open-source radiology diagnostic workstation, and a massively paralleled processing engine for 
	analyzing a billion+ GPS coordinates per day in order to produce a traffic model of the world.</p>
	<p>This site is merely a collection of current projects and a few blog articles. I must admit however, 
	the blog posts are few, and I have not posted in quite some time.</p>
	<blockquote><em><a href="http://en.wikipedia.org/wiki/Jos%C3%A9_Carioca">Zé Carioca</a></em>, or 
	<em>José Carioca</em>, is the name of an old Disney character from the 1940s.  He was the only 
	Brazilian cartoon character from my childhood, and even though he is very much a stereotype, 
	I can't help but remember him fondly.  I do not have any other association with the character, 
	or the Disney corporation.</blockquote>
	<p>
		<a class="button" href="/resume">Résumé</a><br />
		<a class="button" href="/contact">Contact</a>
	</p>
</article>

{{template "footer.html" .}}
