{{set . "title" "Contact Form"}}
{{template "header.html" .}}

<article>
	<header>
		<h2>Contact Form</h2>
	</header>
	<script type="text/javascript">
	var RecaptchaOptions = { theme : 'blackglass', tabindex: 4 };
	</script>
	<form method="POST" autocomplete="off">
		<p>
			<label for="name">Your Name:</label><br />
			<input tabindex="1" class="text-input" type="text" id="name" name="name" value="{{.flash.name}}"/>
			{{if .errors.name}}<span class="error">{{.errors.name.Message}}</span>{{end}}
		</p>
		<p>
			<label for="email">Your Email (optional):</label><br />
			<input tabindex="2" class="text-input" type="text" id="email" name="email" value="{{.flash.email}}" />
			{{if .errors.email}}<span class="error">{{.errors.email.Message}}</span>{{end}}
		</p>
		<p>
			<label for="message">Message:</label><br />
			<textarea tabindex="3" id="message" name="message" rows="5">{{.flash.message}}</textarea>
			{{if .errors.message}}<span class="error">{{.errors.message.Message}}</span>{{end}}
		</p>
		<div id="captcha_widget">
			Click the image '<span class="captcha_title">{{.captcha_title}}</span>' to submit.<br />
			<img id="captcha" class="captcha" src="/captcha.jpg"/>
			<input type="hidden" name="x" value="-1"/>
			<input type="hidden" name="y" value="-1"/>
			{{if .flash.captcha_error}}<span class="error">{{.flash.captcha_error}}</span>{{end}}
		</div>
	</form>
</article>

<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$('#captcha').css({'cursor':'pointer'}).click(function(evt) {
			$('input[name="x"]').val(evt.offsetX);
			$('input[name="y"]').val(evt.offsetY);
			$('form').submit();
		});
	})
})(jQuery);
</script>
{{template "footer.html" .}}
