<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org">
	<head>
		<title>Z Carioca - {{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/public/css/screen.css" media="screen, projection">
		{{if eq .RunMode "dev"}}
			<script src="/public/js/jquery.1.11.js" type="text/javascript" charset="utf-8"></script>
 		{{end}}
		<!--[if lt IE 9]>
		<script src="/public/js/shivs.js"></script>
		<![endif]-->
		{{range .moreStyles}}
		<link rel="stylesheet" type="text/css" href="/public/{{.}}">
		{{end}}
		{{range .moreScripts}}
		<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
		{{end}}
		<!-- Google Analytics -->
		<script type="text/javascript" src="/public/js/analytics.js"></script>
		<!-- End Google Analytics -->
	</head>
	<body>
		<div class="container">
		<header class="main">
			<!-- if isUser and not text only -->
			<figure>
				<img src="/public/img/masthead_2.png" title="Z Carioca" alt="Z Carioca"/>
			</figure>
			<!-- end if isUser and not text only -->
			<h1 id="logo">Z Carioca</h1>
		</header>
		<a href="#body-content" class="nav-skip">Skip Navigation</a>
		<aside class="main">
			<nav>
				<a href="/">Z Carioca</a>
				<a href="/bookmarks">Bookmarks</a>
				<a href="/resume">Resume</a>
				<a href="/projects">Projects</a>
				<a href="/blog">Blog</a>
			</nav>
		</aside>
		<section id="body-content" class="content">